<div id="wrapper">
	<form action="http://172.27.63.140:8080/services/login">
		<input id="clientType" name="clientType" type="hidden" value=""/>
		<input id="nextUrl" name="nextUrl" type="hidden" value=""/>
		<input id="failUrl" name="failUrl" type="hidden" value=""/>
		<img src="http://172.27.63.140:8080/plugins/api_samples/web.shared/elvis_api/images/elvis_on_black_trans_reflection_160x90.png"/>
		<h1>Login to elvis</h1>
		<div id="failed" style="display:none">Invalid username or password</div>
		<input type="text" name="username" id="username" value="guest"/>
		<input type="password" name="password" value="guest"/>
		<input type="submit" value="Log in"/>
	</form>
</div>
