<!--
  ~ configuration.html
  ~
  ~ @author    Matthias Mahler <m.mahler@eikona.de>
  ~ @copyright 2017 Eikona AG (http://www.eikona.de)
  -->
<h3>
    <img style="height: 80px; margin-bottom: 1em;"
         src="/bundles/fotelvisconnector/images/logo-FOT-technologies.jpg"/>
    <p><a href="http://fot-technologies.com/" target="_blank"><%- _.__('fotelvis.configuration.link.label')
        %></a></p>
</h3>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required"
               for="pim_fot_bundle_elvisconnector___base_url"><%-
            _.__('fotelvis.configuration.base_url.label') %></label>
    </div>
    <div class="AknFieldContainer-inputContainer field-input">
        <input class="elvis-config  AknTextField"
               id="pim_fot_bundle_elvisconnector___base_url"
               name="pim_fot_bundle_elvisconnector___base_url"
               type="text" value="<%- base_url %>"/>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required"
               for="pim_fot_bundle_elvisconnector___username"><%-
            _.__('fotelvis.configuration.username.label') %></label>
    </div>
    <div class="AknFieldContainer-inputContainer field-input">
        <input class="elvis-config  AknTextField"
               id="pim_fot_bundle_elvisconnector___username"
               name="pim_fot_bundle_elvisconnector___username"
               type="text" value="<%- username %>"/>
    </div>
</div>
<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required"
               for="pim_fot_bundle_elvisconnector___pwd"><%-
            _.__('fotelvis.configuration.pwd.label')
            %></label>
    </div>
    <div class="AknFieldContainer-inputContainer field-input">
        <input class="elvis-config  AknTextField"
               id="pim_fot_bundle_elvisconnector___pwd"
               name="pim_fot_bundle_elvisconnector___pwd"
               type="text" value="<%- pwd %>"/>
    </div>
</div>

