<div class="AknAssetCollectionField">

    <div class="asset-collection-picker">
        <div class="asset-eikona-gallery">
            <div class="AknAssetCollectionField-header AknButtonList AknButtonList--right">
                <span class="AknButtonList-item AknButton AknButton--apply AknButton--withIcon add-asset icons-holder-text"><i
                        class="AknButton-icon icon-ok"></i>Gérer les ressources</span>
            </div>
            <ul class="asset-thumbnails ">

                <li>
                    <!--suppress CssUnknownTarget -->
                    <div class="asset-thumbnail"
                         style="background-image: url('#')">
                    </div>
                </li>
            </ul>
            <div class="placeholder">
                <img src="/bundles/pimui/images/upload.png" alt="upload icon">
            </div>
            <span class="clearfix"></span>
            <footer>

            </footer>
        </div>
    </div>
</div>